/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 */

var config = {
	port: 8080,

	language: 'en',
	timeFormat: 24,
	units: 'metric',

	modules: [
	
// " Alert {{{ 
  {
			module: 'alert',
		},
// " }}}

// " Clock {{{
		{
			module: 'clock',
			position: 'top_left'
		},

// }}}

// " Calendar {{{
    {
			module: 'calendar',
			header: 'US Holidays',
			position: 'top_left',
			config: {
				calendars: [
					{
						symbol: 'calendar-check-o ',
						url: 'webcal://www.calendarlabs.com/templates/ical/US-Holidays.ics'
					}
				]
			}
		},
// " }}}

// " Current Weather {{{
		{
			module: 'currentweather',
			position: 'top_right',
			config: {
				location: 'La Canada Flintridge',
				locationID: '5363859',  //ID from bulk.openweather.org/sample/
        appid: '',
        units: 'imperial',
        timeFormat: 24
      }
		},
// " }}}

// "Weather Forecast {{{
		{
			module: 'weatherforecast',
			position: 'top_right',
			header: 'Weather Forecast',
			config: {
	            location: 'La Canada Flintridge',
              locationID: '5363859',  //ID from bulk.openweather.org/sample/
              appid: '',
              units: 'imperial'
              
      }
		},
// " }}}

//" Newsfeed {{{
		{
			module: 'newsfeed',
			position: 'bottom_bar',
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "http://www.nytimes.com/services/xml/rss/nyt/HomePage.xml"
					}
				],
				showSourceTitle: true,
				showPublishDate: true
			}
		},
//" }}}
	]

};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== 'undefined') {module.exports = config;}

//" vim: foldmethod=marker
